<hr>

# üìñ README

<style>
h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

## üì≤ ***Vanguard A/B Test Results Analysis*** 
- Company : Vanguard, the US-based investment management company. (website: https://investor.vanguard.com/)
- Role : newly hired DATA ANALYST in the Customer Experience (CX) team. 
The team launched an exciting digital experiment, and now, they're eagerly waiting to uncover the results and need your help!
- Task : Analyze the results of the digital experiment conducted by the team.Primary objective:¬† Decode the experiment's performance.
- The critical question : Would these changes encourage more clients to complete the process?
- Belief : Vanguard believed that a more intuitive, modern UI with timely in-context prompts (cues, messages, or instructions within the user‚Äôs current task) could make the online process smoother for clients.
---
üì≤ An **A/B test** was set **into motion** `from 3/15/2017 to 6/20/2017` by the team.
- Control Group: Clients interacted with Vanguard's traditional online process. (old UI)- Test Group: Clients experienced the new, spruced-up digital interface. (new UI)
---

Both groups navigated through an identical process sequence:
- an initial page (start), 
- three subsequent steps (step 1, step 2, step 3), 
- and finally, a confirmation page signaling process completion.
---

**The goal is to see if the new design leads to a better user experience and higher process completion rates.**

---

## üìã **Datasets CSV files and DataFrames**

| CSV                        | DataFrame                                               | Description                                                                 |
|---------------------------------|--------------------------------------------------------------|-----------------------------------------------------------------------------|
| **Client Profiles**              | `df_client_profiles`                                             | Demographics of clients including age, gender, and account details.        |
| **Digital Footprints (merge of part 1 & 2)** | `df_digital_footprints` (merge of `df_pt_1` and `df_pt_2`) | Detailed trace of client online interactions; parts 1 & 2 merged.|
| **Experiment Roster**            | `df_experiment_roster`                                | List of clients who participated in the grand experiment.                  |
| **Vanguard AB Test**            | `df_vanguard_ab_test`                                | all of the dataset for the A/B Test.                  |


## üìã **Vanguard AB TEST Data Types (Before & After Cleaning)**

| Field Name               | Raw Data Type  | Interim/Clean Data Type | Description |
|--------------------------|--------------------------|-------------------------|-------------|
| **client_id**            | `int`                  | /                 | Unique identifier for each client. |
| **client_tenure_years**  | `float`                | `int`                 | Client tenure in years; nulls filled or removed, converted to integer. |
| **client_tenure_months** | `float`                | `int`                 | Client tenure in months; nulls handled, converted to integer. |
| **client_age**           | `float`                | `int`                 | Client age; nulls handled, converted to integer. |
| **gender**               | `str`                    | /                   | Client gender; standardized categories (M, F, U, X). |
| **number_of_accounts**   | `float`                | `int`                 | Number of accounts; nulls filled with 0, converted to integer. |
| **account_balance**      | `float`                | /               | Client account balance; no change. |
| **calls_last_6_months**  | `float`                | `int`                 | Calls in last 6 months; nulls filled with 0, converted to integer. |
| **logins_last_6_months** | `float`                | `int`                 | Logins in last 6 months; nulls filled with 0, converted to integer. |
| **visitor_id**           | `str`                    | /                   | Unique visitor ID. |
| **visit_id**             | `str`                    | /                   | Unique visit/session ID. |
| **process_step**         | `str`                    | /              | Funnel step; converted to ordered categorical type. |
| **date_time**            | `str`                    | `datetime`        | Interaction timestamp; converted to datetime. |
| **test_group**           | `str`                    | /              | A/B test group; nulls handled and type converted to categorical. |

<hr>

# üìä LOAD DATASETS

<style>
h1 {
    text-align: center;
    color: green;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

<hr>

## üóÉÔ∏è 1 - CLIENTS PROFILE


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

- CSV: `../data/interim/client_profiles.csv`
- DataFrame: `df_final_demo`
- **Demographics like age, gender, and account details of our clients.**

In [1]:
import pandas as pd
from IPython.display import display

# Load the df_final_demo text file and convert to DataFrame then save to CSV ---------------------------------------------------------------------------------------------

# Load df_final_demo dataset and split by the separator comma ","
df_final_demo = pd.read_csv("../data/raw/df_final_demo.txt",sep=",")

# Save the DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"DEMO DATA shape: {df_final_demo.shape}")
df_final_demo.to_csv("../data/interim/client_profiles.csv",index=False)

# Display the DataFrame to ensure it loaded correctly --------------------------------------------------------------
print("Saved df_final_demo in a CSV file located ../data/interim/client_profiles.csv.")
display(df_final_demo)

# Assign df_final_demo to df_clients_profiles
df_clients_profiles = df_final_demo

DEMO DATA shape: (70609, 9)
Saved df_final_demo in a CSV file located ../data/interim/client_profiles.csv.

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

<hr>

## üóÉÔ∏è 2 - DIGITAL FOOTPRINTS


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

- CSV: `../data/interim/digital_footprints.csv`
- DataFrame: `df_digital_footprints`
- Merge of `pt_1` and `pt_2`

---
### üë©‚Äçüíª Merging **df_pt_1** and **df_pt_2** into final DataFrame for **df_digital_footprints**


FROM TXT:
- `pt_1.txt`
- `pt_2.txt`

TO CSV:
- `digital_footprints_pt_1.csv`
- `digital_footprints_pt_2.csv`

- `digital_footprints_final.csv`

In [2]:
import pandas as pd
from IPython.display import display
# Load the txt files (comma-separated) and convert to DataFrames then save to CSV ---------------------------------------------------------------------------------------------
# Load the two parts of the final web data and split by the separator comma ","
df_pt_1 = pd.read_csv("../data/raw/df_final_web_data_pt_1.txt",sep=",")
df_pt_2 = pd.read_csv("../data/raw/df_final_web_data_pt_2.txt",sep=",")

# Display the 2 DataFrames to ensure they loaded correctly --------------------------------------------------------------
display(df_pt_1.head())
display(df_pt_2.head())

# Save each DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"WEB DATA PART 1 shape: {df_pt_1.shape}")
df_pt_1.to_csv("../data/interim/digital_footprints_pt_1.csv",index=False)
print("Saved df_pt_1 in ../data/interim/digital_footprints_pt_1.csv")

print(f"WEB DATA PART 2 shape: {df_pt_2.shape}")
df_pt_2.to_csv("../data/interim/digital_footprints_pt_2.csv",index=False)
print("Saved df_pt_2 in ../data/interim/digital_footprints_pt_2.csv")
print("Saved both parts as CSV files.")

# Merge the two parts (same columns) --------------------------------------------------------------------------------
df_final_web_data = pd.concat([df_pt_1, df_pt_2],ignore_index=True)
print(f"Final Merged part shape: {df_final_web_data.shape}")

# Save merged CSV ---------------------------------------------------------------------------------------------
df_final_web_data.to_csv('../data/interim/digital_footprints.csv', index=False)

print("Merged digital footprints parts and saved in '../data/interim/digital_footprints.csv'")

# Display the merged DataFrame to ensure it loaded correctly ---------------------------------------------------------------------------------------------
display(df_final_web_data.head())

# Assign merged df to df_digital_footprints------------------------------------------------------------------
df_digital_footprints = df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

WEB DATA PART 1 shape: (343141, 5)
Saved df_pt_1 in ../data/interim/digital_footprints_pt_1.csv
WEB DATA PART 2 shape: (412264, 5)
Saved df_pt_2 in ../data/interim/digital_footprints_pt_2.csv
Saved both parts as CSV files.
Final Merged part shape: (755405, 5)
Merged digital footprints parts and saved in '../data/interim/digital_footprints.csv'

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

---
### üë©‚Äçüíª *Loading in DIGITAL FOOTPRINTS DATAFRAME*

In [3]:
import pandas as pd
# load csv to verify
df_digital_footprints = pd.read_csv('../data/interim/digital_footprints.csv')
display(df_digital_footprints)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

<hr>

## üóÉÔ∏è 3 - EXPERIMENT ROSTER


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

- CSV: `../data/interim/experiment_roster.csv`
- DataFrame: `df_final_experiment_clients`
- A list revealing which clients were part of the grand experiment

In [4]:
import pandas as pd
from IPython.display import display

# Load the df_final_experiment_clients. text file and convert to DataFrame then save to CSV ---------------------------------------------------------------------------------------------

# Load df_final_demo dataset and split by the separator comma ","
df_final_experiment_clients = pd.read_csv("../data/raw/df_final_experiment_clients.txt",sep=",")

# Save the DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"FINAL EXPERIMENT CLIENTS shape: {df_final_experiment_clients.shape}")
df_final_experiment_clients.to_csv("../data/interim/experiment_roster.csv",index=False)

# Display the DataFrame to ensure it loaded correctly --------------------------------------------------------------
print("Saved df_final_experiment_clients as CSV file in ../data/interim/experiment_roster.csv.")
display(df_final_experiment_clients)

# Assign df_final_experiment_clients to df_experiment_roster
df_experiment_roster = df_final_experiment_clients

FINAL EXPERIMENT CLIENTS shape: (70609, 2)
Saved df_final_experiment_clients as CSV file in ../data/interim/experiment_roster.csv.

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

<hr>

## üóÉÔ∏è 4 - VANGUARD AB TEST


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

### üë©‚Äçüíª *Load the 3 DATASETS into DataFrames*

- `df_client_profiles` loaded with **"../data/interim/client_profiles.csv"** 
- `df_digital_footprints` loaded with  **"../data/interim/digital_footprints.csv"**
- `df_experiment_roster` loaded with **"../data/interim/experiment_roster.csv"**

In [5]:
import pandas as pd

# client_profiles dataset
df_client_profiles = pd.read_csv("../data/interim/client_profiles.csv")

# digital_footprints dataset (main dataset for client behaviour)
df_digital_footprints = pd.read_csv("../data/interim/digital_footprints.csv")

# experiment_roster dataset
df_experiment_roster = pd.read_csv("../data/interim/experiment_roster.csv")

---
### üë©‚Äçüíª *Explore the 3 DATASETS seperately*

In [6]:
import pandas as pd
# display the datasets ---------------------------------------------------------------------------------------------

# display client_profiles dataset
print("Client Profiles Dataset:")
print("Client Profiles Dataset Shape:", df_client_profiles.shape[0], "rows and", df_client_profiles.shape[1], "columns\n")
df_client_profiles.info()
display(df_client_profiles)

# display digital_footprints dataset
print("Digital Footprints Dataset:")
print("Digital Footprints Dataset Shape:", df_digital_footprints.shape[0], "rows and", df_digital_footprints.shape[1], "columns\n")
df_digital_footprints.info()
display(df_digital_footprints)

# display experiment_roster dataset
print("Experiment Roster Dataset:")
print("Experiment Roster Dataset Shape:", df_experiment_roster.shape[0], "rows and", df_experiment_roster.shape[1], "columns\n")
df_experiment_roster.info()
display(df_experiment_roster)

Client Profiles Dataset:
Client Profiles Dataset Shape: 70609 rows and 9 columns

<class 'pandas.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  str
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), str(1)
memory usage: 4.8 MB

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

Digital Footprints Dataset:
Digital Footprints Dataset Shape: 755405 rows and 5 columns

<class 'pandas.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  str
 2   visit_id      755405 non-null  str
 3   process_step  755405 non-null  str
 4   date_time     755405 non-null  str
dtypes: int64(1), str(4)
memory usage: 28.8 MB

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

Experiment Roster Dataset:
Experiment Roster Dataset Shape: 70609 rows and 2 columns

<class 'pandas.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  str
dtypes: int64(1), str(1)
memory usage: 1.1 MB

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

---
### üë©‚Äçüíª *Combine the 3 datasets into 1 dataset*
* The 3 datasets share client_id as a common column

In [ ]:
import pandas as pd

# Load datasets
df_client_profiles = pd.read_csv("../data/interim/client_profiles.csv")
df_digital_footprints = pd.read_csv("../data/interim/digital_footprints.csv")
df_experiment_roster = pd.read_csv("../data/interim/experiment_roster.csv")

# Merge datasets on client_id (left joins)
df_ab_test = df_client_profiles.merge(df_digital_footprints, on="client_id", how="left") \
                            .merge(df_experiment_roster, on="client_id", how="left")

# Save as main dataset
df_ab_test.to_csv("../data/interim/vanguard_ab_test.csv", index=False)

In [8]:
display(df_ab_test.head())

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,visitor_id,visit_id,process_step,date_time,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

<hr>

# üß´ DATA CLEANING STEPS

<style>
h1 {
    text-align: center;
    color: blue;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

- display(df_vanguard_ab_test) 
- df.info()
- df["column_name"].unique()
- data mapping
- replace

<hr>

## 0Ô∏è‚É£ FIRST VIEW OF THE WHOLE DATASET VANGUARD AB TEST


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [9]:
import pandas as pd
df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

# display vanguard_ab_test dataset
print("Vanguard A/B Test Dataset:")
print("Vanguard A/B Test Dataset Shape:", df_vanguard_ab_test.shape[0], "rows and", df_vanguard_ab_test.shape[1], "columns\n")
df_vanguard_ab_test.info()
display(df_vanguard_ab_test.head())

C:\Users\sboub\AppData\Local\Temp\ipykernel_11636\1209327210.py:2: DtypeWarning: Columns (0: Variation) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

Vanguard A/B Test Dataset:
Vanguard A/B Test Dataset Shape: 449831 rows and 14 columns

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         449831 non-null  int64
 1   clnt_tenure_yr    449716 non-null  float64
 2   clnt_tenure_mnth  449716 non-null  float64
 3   clnt_age          449704 non-null  float64
 4   gendr             449716 non-null  str
 5   num_accts         449716 non-null  float64
 6   bal               449716 non-null  float64
 7   calls_6_mnth      449716 non-null  float64
 8   logons_6_mnth     449716 non-null  float64
 9   visitor_id        449831 non-null  str
 10  visit_id          449831 non-null  str
 11  process_step      449831 non-null  str
 12  date_time         449831 non-null  str
 13  Variation         321309 non-null  str
dtypes: float64(7), int64(1), str(6)
memory usage: 48.0 MB

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,visitor_id,visit_id,process_step,date_time,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

In [10]:
df_vanguard_ab_test.columns.tolist()

['client_id',
 'clnt_tenure_yr',
 'clnt_tenure_mnth',
 'clnt_age',
 'gendr',
 'num_accts',
 'bal',
 'calls_6_mnth',
 'logons_6_mnth',
 'visitor_id',
 'visit_id',
 'process_step',
 'date_time',
 'Variation']

<hr>

## 1Ô∏è‚É£ STANDARDIZING COLUMNS NAMES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>


| Original Column Name    | Standardized Column Name       |
|-------------------------|-------------------------------|
| `clnt_tenure_yr`        | `client_tenure_years`        |
| `clnt_tenure_mnth`      | `client_tenure_months`       |
| `clnt_age`              | `client_age`                 |
| `gendr`                 | `gender`                     |
| `num_accts`             | `number_of_accounts`         |
| `bal`                   | `account_balance`            |
| `calls_6_mnth`          | `calls_last_6_months`        |
| `logons_6_mnth`         | `logins_last_6_months`       |
| `Variation`             | `test_group`                 |

In [11]:
import pandas as pd

# Load your main Vanguard A/B test dataset
df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

# Define the renaming dictionary
rename_columns = {
    "clnt_tenure_yr": "client_tenure_years",
    "clnt_tenure_mnth": "client_tenure_months",
    "clnt_age": "client_age",
    "gendr": "gender",
    "num_accts": "number_of_accounts",
    "bal": "account_balance",
    "calls_6_mnth": "calls_last_6_months",
    "logons_6_mnth": "logins_last_6_months",
    "Variation": "test_group"
}

# Rename columns
df_vanguard_ab_test.rename(columns=rename_columns, inplace=True)

# Save the updated dataset
df_vanguard_ab_test.to_csv("../data/interim/vanguard_ab_test_standardized.csv", index=False)

C:\Users\sboub\AppData\Local\Temp\ipykernel_11636\3873568717.py:4: DtypeWarning: Columns (0: Variation) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

In [12]:
display(df_vanguard_ab_test.head())

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,date_time,test_group
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

In [13]:
df_vanguard_ab_test.columns.tolist()

['client_id',
 'client_tenure_years',
 'client_tenure_months',
 'client_age',
 'gender',
 'number_of_accounts',
 'account_balance',
 'calls_last_6_months',
 'logins_last_6_months',
 'visitor_id',
 'visit_id',
 'process_step',
 'date_time',
 'test_group']

In [13]:
# columns names standardization check
df_vanguard_ab_test.info()

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  float64
 2   client_tenure_months  449716 non-null  float64
 3   client_age            449704 non-null  float64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  float64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  float64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  str
 13  test_group            321309 non-null  str
dtypes: float64(7), int64(1), str(6)
memory usage: 48.0 MB

<hr>

## 2Ô∏è‚É£ INVALID VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

### Checking data type and unique values of every column

In [14]:
# client_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_id'].dtype)
print(f"Client IDs: {df_vanguard_ab_test['client_id'].unique()}\n")

# client_tenure_years ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_tenure_years'].dtype)
print(f"Client Tenure Years: {df_vanguard_ab_test['client_tenure_years'].unique()}\n")
# convert data type to int

# client_tenure_months ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_tenure_months'].dtype)
print(f"Client Tenure Months: {df_vanguard_ab_test['client_tenure_months'].unique()}\n")
# convert data type to int

# client_age ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_age'].dtype)
print(f"Client Age: {df_vanguard_ab_test['client_age'].unique()}\n")
# convert data type to int
# 20.5 years of experience
# 20 years + 0.5*12 = 20 years and 6 months
# 20 years instead of 20.5 years

# gender ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['gender'].dtype)
print(f"Gender: {df_vanguard_ab_test['gender'].unique()}\n")
# F is Female
# M is Male
# U is Unknown
# X is binary
# fill nulls with 'U' for Unknown

# number_of_accounts ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['number_of_accounts'].dtype)
print(f"Number of Accounts: {df_vanguard_ab_test['number_of_accounts'].unique()}\n")
# convert data type to int

# account_balance ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['account_balance'].dtype)
print(f"Account Balance: {df_vanguard_ab_test['account_balance'].unique()}\n")
# keep as float

# calls_last_6_months ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['calls_last_6_months'].dtype)
print(f"Calls Last 6 Months: {df_vanguard_ab_test['calls_last_6_months'].unique()}\n")
# convert data type to int


# logins_last_6_months ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['logins_last_6_months'].dtype)
print(f"Logins Last 6 Months: {df_vanguard_ab_test['logins_last_6_months'].unique()}\n")
# convert data type to int


# visitor_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['visitor_id'].dtype)
print(f"Visitor IDs: {df_vanguard_ab_test['visitor_id'].unique()}\n")
# assuming visitor_id is different from client_id

# visit_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['visit_id'].dtype)
print(f"Visit IDs: {df_vanguard_ab_test['visit_id'].unique()}\n")
# assuming visit_id is different from client_id and visitor_id

# session_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['process_step'].dtype)
print(f"Process Steps: {df_vanguard_ab_test['process_step'].unique()}\n")
# categorical continuous variable with values: step_1, step_2, step_3, step_4, step_5

# date_time ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['date_time'].dtype)
print(f"Date and Time: {df_vanguard_ab_test['date_time'].unique()}\n")
# convert datatype to datetime (date and time)

# test_group ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['test_group'].dtype)
print(f"Test Groups: {df_vanguard_ab_test['test_group'].unique()}\n")
# A group = "Test" | B group ="Control"
# try to fill nulls with "Test" or "Control" or "Unknown"

data type: int64
Client IDs: [ 836976 2304905 1439522 ...  333913 1573142 5602139]

data type: float64
Client Tenure Years: [ 6.  7.  5. 16. 12. 30. 15.  8.  4.  3. 10. 11. 13. 14. 19. 18. 25. 23.
 21. 17.  9. 27. 24. 20. 28. 22. 29. 46. 26. 32. 33. 35.  2. 38. 31. 48.
 34. 36. 51. nan 47. 49. 37. 39. 40. 55. 42. 44. 43. 50. 54. 41. 45. 52.
 62.]

data type: float64
Client Tenure Months: [ 73.  94.  64. 198. 145.  71.  66. 361. 369. 189. 100.  99.  67. 193.
  58.  47. 122. 136. 101. 103.  70. 152. 160.  80.  88.  86.  65.  68.
  93.  85. 168. 142. 228. 223. 305. 286. 285. 280. 254. 253. 278. 221.
 216. 212. 204. 260. 116. 130. 177. 159. 190.  89.  91. 129. 329.  92.
  82. 169. 239.  69. 178.  95.  63. 187. 288. 261. 251. 250.  56.  60.
 123. 175. 188.  59. 336. 149. 156. 330. 155. 167.  96. 242. 163.  81.
 182. 134. 113. 172. 120. 105. 271. 244. 200. 157.  78. 151. 121. 184.
 335. 357. 111. 185.  76. 148.  97.  83. 347. 324. 162. 194.  74. 186.
 300. 289. 295. 282. 270. 246. 229. 206. 109. 343. 176. 144. 161. 179.
 106. 154. 119.  75. 166. 143. 202. 326. 298. 290. 279. 252.  57. 334.
 150.  46. 114. 174.  72. 107. 164. 131. 554. 140. 118. 292. 273. 257.
 225. 128. 135. 258. 126. 359. 210. 263. 262. 255. 214. 310. 141. 319.
 395. 108. 181. 173.  55. 203. 297. 213. 183. 115. 117. 299. 287. 269.
 222. 195. 127. 245. 110. 102.  54. 277. 276. 274. 249. 147. 153.  84.
 132. 312.  79. 146. 346. 348. 332. 170. 267. 191.  38. 205. 265. 264.
 234. 233. 208.  53. 399. 197. 139.  61. 124. 165. 236. 219. 215. 226.
 388. 421. 192. 306. 266. 240. 231. 180. 296.  87. 158. 227. 196. 199.
  34. 397.  90. 349.  42. 424. 337. 207. 104. 338. 137. 201.  62. 294.
 230. 220. 209.  49. 321. 345. 138.  33. 238. 459. 171. 355.  98. 237.
 235. 370. 352.  48. 303. 259. 218. 322. 428. 247. 241. 341. 302. 217.
 360. 385. 383. 576. 293. 243. 350. 340.  36. 256. 323. 354. 232. 318.
 313.  51.  77. 430. 420. 268. 275. 317. 339.  35. 327. 407. 301. 133.
 211. 125. 112.  43. 281.  45. 316.  40. 325. 291. 368. 384. 248. 382.
 314. 408. 284. 283. 376. 304. 309. 356. 394. 386. 311. 419. 411. 406.
 409. 464. 224. 333. 371. 358. 401. 320. 413. 375. 422. 272.  52. 342.
 307. 328. 381. 434. 353. 612. 400.  50. 344. 367. 415. 364. 374. 416.
 391. 431.  nan 423. 396. 315. 378.  44. 379. 569. 596. 393. 392.  41.
 362. 451. 439. 331. 468. 418. 442. 389.  37. 481. 366. 351. 390. 402.
 463.  39. 432. 403. 417. 461. 380. 482. 460. 372. 308. 373. 465. 404.
 412. 387. 561. 669. 429. 585. 414. 365. 427. 504. 433. 444. 456. 410.
 441. 512. 445. 539. 516. 363. 454. 589. 425. 377. 457. 443. 398. 484.
 473. 507. 475. 449. 668. 602. 405. 446. 608. 447. 440. 453. 613. 462.
 483. 479. 562. 485. 655. 448. 472. 564. 526. 532. 511. 492. 426. 593.
 455. 450. 581. 550. 624. 571. 563. 469. 661. 436. 610. 586. 535. 603.
 631. 509. 614. 466. 667. 749. 480.]

data type: float64
Client Age: [60.5 58.  32.  49.  33.  30.5 58.5 57.5 67.5 54.5 34.5 51.5 62.5 36.
 74.  32.5 31.  25.5 42.5 42.  30.  55.  38.  68.5 52.5 54.  63.  48.
 66.5 68.  65.  51.  46.  63.5 23.  26.5 56.5 76.5 27.5 39.5 25.  27.
 60.  66.  39.  56.  40.  52.  31.5 43.5 35.  19.  64.5 64.  22.5 33.5
 36.5 61.  40.5 72.  44.5 28.5 59.5 45.  18.  78.  50.5 29.  37.5 57.
 70.  74.5 22.  50.  53.  62.  65.5 29.5 28.  69.5 35.5 71.5 34.  38.5
 69.  43.  83.5 21.5 47.  61.5 73.5 71.  59.  21.  44.  83.  47.5 72.5
 76.  78.5 55.5 67.  41.5 20.5 75.  24.  79.  26.  41.  23.5 49.5 46.5
 45.5 48.5 24.5 75.5 80.  73.  87.  19.5 53.5 18.5 70.5 80.5 86.  37.
 85.  17.5 82.  20.  77.5 77.  79.5 88.5 96.  81.  81.5 88.  84.   nan
 94.5 89.  92.  82.5 91.5 85.5 95.5 84.5 90.  89.5 93.  90.5 87.5 93.5
 86.5 91.  17.  94.  92.5 15.5 16.  16.5 14.5 15.  14.  13.5]

data type: str
Gender: <StringArray>
['U', 'M', 'F', nan, 'X']
Length: 5, dtype: str

data type: float64
Number of Accounts: [ 2.  5.  3.  4.  6.  7. nan  1.  8.]

data type: float64
Account Balance: [ 45105.3  110860.3   52467.79 ...  40745.   475114.69 157498.73]

data type: float64
Calls Last 6 Months: [ 6.  3.  0.  2.  1.  5.  4. nan  7.]

data type: float64
Logins Last 6 Months: [ 9.  6.  3.  5.  4.  8.  7. nan  1.  2.]

data type: str
Visitor IDs: <StringArray>
[ '427070339_1413275162', '336210275_56978226960', '245908175_84333642537',
 '407067363_48226131468', '391202328_71710993352', '432077852_35036160885',
 '875448077_54387937735', '227827901_46893415084',  '56607555_75044897582',
 '667009768_32934260678',
 ...
 '616643929_99035070625',  '87972764_45157109967',  '43214017_97463037638',
  '55178744_59935472472', '441324114_37855673027',  '235892744_2995807940',
 '405457094_54883289172', '110929964_38003873994',  '880662048_9504251369',
 '962766819_57063135389']
Length: 78187, dtype: str

data type: str
Visit IDs: <StringArray>
[ '228976764_46825473280_96584',  '104438405_2368283624_817211',
 '724930510_65323235593_692754', '898099666_87299892721_263146',
  '968288276_7230824336_666089',  '71954691_44810191073_495385',
 '942996157_39527225999_589383', '717519432_65547872352_613051',
 '468902637_55778357932_556682', '247503697_11679931698_453228',
 ...
 '758008859_31261979266_426270', '458308265_80160772759_795974',
  '10432687_78618454141_814606', '504342110_43310803922_587933',
 '535967473_99843170075_417938', '709721715_35968917131_979675',
  '326174177_47892407008_51741', '448875043_84914821939_263970',
   '158544612_4105226940_43043', '884309593_49820690623_654151']
Length: 96773, dtype: str

data type: str
Process Steps: <StringArray>
['confirm', 'step_3', 'step_2', 'step_1', 'start']
Length: 5, dtype: str

data type: str
Date and Time: <StringArray>
['2017-04-02 11:51:13', '2017-04-02 11:47:50', '2017-04-02 11:46:45',
 '2017-04-02 11:23:08', '2017-04-02 11:22:24', '2017-04-02 11:21:38',
 '2017-04-02 11:21:28', '2017-03-29 11:02:44', '2017-03-29 11:01:40',
 '2017-03-29 10:59:43',
 ...
 '2017-05-31 06:13:59', '2017-04-09 13:03:40', '2017-04-09 12:46:22',
 '2017-04-09 12:44:25', '2017-04-06 14:22:03', '2017-04-06 14:19:28',
 '2017-04-19 12:11:16', '2017-04-24 11:45:37', '2017-04-24 11:44:51',
 '2017-04-24 11:44:36']
Length: 384038, dtype: str

data type: str
Test Groups: <StringArray>
['Test', 'Control', nan]
Length: 3, dtype: str

<hr>

## 3Ô∏è‚É£ COLUMN DATA TYPES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [15]:
# view data types of datafields ---------------------------------------------------------------------------------------------
df_vanguard_ab_test.info()

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  float64
 2   client_tenure_months  449716 non-null  float64
 3   client_age            449704 non-null  float64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  float64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  float64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  str
 13  test_group            321309 non-null  str
dtypes: float64(7), int64(1), str(6)
memory usage: 48.0 MB

### DataField Type Changes

| DataField | Old Data Type | New Data Type | Reason |
|-----------|---------------|---------------|--------|
| `client_tenure_years` | float | int | Tenure should be in whole years |
| `client_tenure_months` | float | int | Tenure should be in whole months |
| `client_age` | float | int | Age should be an integer |
| `number_of_accounts` | float | int | Account counts must be integers |
| `calls_last_6_months` | float | int | Call counts must be integers |

In [21]:
import numpy as np
# Data type conversion to integer ---------------------------------------------------------------------------------------------
# Convert client_tenure_years to integer
df_vanguard_ab_test['client_tenure_years'] = df_vanguard_ab_test['client_tenure_years'].astype('Int64')

# Convert client_tenure_months to integer
df_vanguard_ab_test['client_tenure_months'] = df_vanguard_ab_test['client_tenure_months'].astype('Int64')

# Convert client_age to integer
df_vanguard_ab_test['client_age'] = (np.floor(df_vanguard_ab_test['client_age']).astype('Int64'))

# Convert number_of_accounts to integer
df_vanguard_ab_test['number_of_accounts'] = df_vanguard_ab_test['number_of_accounts'].astype('Int64')

# Convert calls_last_6_months to integer
df_vanguard_ab_test['calls_last_6_months'] = df_vanguard_ab_test['calls_last_6_months'].astype('Int64')

# Convert date_time to datetime
df_vanguard_ab_test['date_time'] = pd.to_datetime(
    df_vanguard_ab_test['date_time'],
    format='%Y-%m-%d %H:%M:%S',
    errors='coerce'
)

In [22]:
# verify types after conversion
df_vanguard_ab_test.info()

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  Int64
 2   client_tenure_months  449716 non-null  Int64
 3   client_age            449704 non-null  Int64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  Int64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  Int64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  datetime64[us]
 13  test_group            321309 non-null  str
dtypes: Int64(5), datetime64[us](1), float64(2), int64(1), str(5)
memory usage: 50.2 MB

In [23]:
display(df_vanguard_ab_test.head())

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,date_time,test_group
0,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

<hr>

## 4Ô∏è‚É£ NULL VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [ ]:
# Check columns with null values ---------------------------------------------------------------------------------------------
null_columns = df_vanguard_ab_test.info()
# columns with null values: -------------------------------
#1.   client_tenure_years   449716 non-null  Int64         
#2.   client_tenure_months  449716 non-null  Int64         
#3.   client_age            449704 non-null  Int64         
#4.   gender                449716 non-null  str           
#5.   number_of_accounts    449716 non-null  Int64         
#6.   account_balance       449716 non-null  float64       
#7.   calls_last_6_months   449716 non-null  Int64         
#8.   logins_last_6_months  449716 non-null  float64       
#13.  test_group            321309 non-null  str
# ---------------------------------------------------------

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  Int64
 2   client_tenure_months  449716 non-null  Int64
 3   client_age            449704 non-null  Int64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  Int64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  Int64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  datetime64[us]
 13  test_group            321309 non-null  str
dtypes: Int64(5), datetime64[us](1), float64(2), int64(1), str(5)
memory usage: 50.2 MB

### *The Columns with Null Values*
 
| Column Number | Column Name             |
|---------------|------------------------|
| 1             | `client_tenure_years`  |
| 2             | `client_tenure_months` |
| 3             | `client_age`           |
| 4             | `gender`               |
| 5             | `number_of_accounts`   |
| 6             | `account_balance`      |
| 7             | `calls_last_6_months`  |
| 8             | `logins_last_6_months` |
| 13            | `test_group`           |

### 1. *client_tenure_years*

### 2. *client_tenure_months*

### 3. *client_age*

### 4. *gender*

In [ ]:
# Handle null values ---------------------------------------------------------------------------------------------
df_vanguard_ab_test["gender"].unique()
# gender: categorical
# M is Male | Male 
# F is Female | Female
# U is Unknown | Unknown / Unspecified / Not provided
# X is binary | Non-binary / Other / Not classified 
# `nan` | Missing value to fill with `U`

# Fill nulls in gender with 'U' for Unknown
df_vanguard_ab_test['gender'].fillna('U', inplace=True)

### 5. *number_of_accounts*

### 6. *account_balance*

### 7. *calls_last_6_months*

### 8. *logins_last_6_months*

In [ ]:
# data type ["logins_last_6_months"]
df_vanguard_ab_test['logins_last_6_months'].dtype

# Fill NaN with 0 because there is no data of logins so we assume it's no logins
df_vanguard_ab_test['logins_last_6_months'] = df_vanguard_ab_test['logins_last_6_months'].fillna(0)

# Convert to int type
df_vanguard_ab_test['logins_last_6_months'] = df_vanguard_ab_test['logins_last_6_months'].astype(int)

# Check unique values
print(df_vanguard_ab_test["logins_last_6_months"].unique())

### 13. *test_group*

<hr>

## 5Ô∏è‚É£ DUPLICATE VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

<hr>

# üìâ VANGUARD AB TEST ANALYSIS & PLOTS 

<style>
h1 {
    text-align: center;
    color: RED;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

In [ ]:
display(df_vanguard_ab_test.describe())

In [ ]:
# what's the oldest age number for clients
df_vanguard_ab_test['client_age'].max()

In [ ]:
# how many clients are there
df_vanguard_ab_test['client_id'].count()