<hr>

# üìñ README

<style>
h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

## üì≤ ***Vanguard A/B Test Results Analysis*** 
- Company : Vanguard, the US-based investment management company. (website: https://investor.vanguard.com/)
- Role : newly hired DATA ANALYST in the Customer Experience (CX) team. 
The team launched an exciting digital experiment, and now, they're eagerly waiting to uncover the results and need your help!
- Task : Analyze the results of the digital experiment conducted by the team.Primary objective:¬† Decode the experiment's performance.
- The critical question : Would these changes encourage more clients to complete the process?
- Belief : Vanguard believed that a more intuitive, modern UI with timely in-context prompts (cues, messages, or instructions within the user‚Äôs current task) could make the online process smoother for clients.
---
üì≤ An **A/B test** was set **into motion** `from 3/15/2017 to 6/20/2017` by the team.
- Control Group: Clients interacted with Vanguard's traditional online process. (old UI)- Test Group: Clients experienced the new, spruced-up digital interface. (new UI)
---

Both groups navigated through an identical process sequence:
- an initial page (start), 
- three subsequent steps (step 1, step 2, step 3), 
- and finally, a confirmation page signaling process completion.
---

**The goal is to see if the new design leads to a better user experience and higher process completion rates.**

---

## üìã **Datasets CSV files and DataFrames**

| CSV                        | DataFrame                                               | Description                                                                 |
|---------------------------------|--------------------------------------------------------------|-----------------------------------------------------------------------------|
| **Client Profiles**              | `df_client_profiles`                                             | Demographics of clients including age, gender, and account details.        |
| **Digital Footprints (merge of part 1 & 2)** | `df_digital_footprints` (merge of `df_pt_1` and `df_pt_2`) | Detailed trace of client online interactions; parts 1 & 2 merged.|
| **Experiment Roster**            | `df_experiment_roster`                                | List of clients who participated in the grand experiment.                  |
| **Vanguard AB Test**            | `df_vanguard_ab_test`                                | all of the dataset for the A/B Test.                  |


## üìã **Vanguard AB TEST Data Types (Before & After Cleaning)**

| Field Name               | Raw Data Type  | Interim/Clean Data Type | Description |
|--------------------------|--------------------------|-------------------------|-------------|
| **client_id**            | `int`                  | /                 | Unique identifier for each client. |
| **client_tenure_years**  | `float`                | `int`                 | Client tenure in years; nulls filled or removed, converted to integer. |
| **client_tenure_months** | `float`                | `int`                 | Client tenure in months; nulls handled, converted to integer. |
| **client_age**           | `float`                | `int`                 | Client age; nulls handled, converted to integer. |
| **gender**               | `str`                    | /                   | Client gender; standardized categories (M, F, U, X). |
| **number_of_accounts**   | `float`                | `int`                 | Number of accounts; nulls filled with 0, converted to integer. |
| **account_balance**      | `float`                | /               | Client account balance; no change. |
| **calls_last_6_months**  | `float`                | `int`                 | Calls in last 6 months; nulls filled with 0, converted to integer. |
| **logins_last_6_months** | `float`                | `int`                 | Logins in last 6 months; nulls filled with 0, converted to integer. |
| **visitor_id**           | `str`                    | /                   | Unique visitor ID. |
| **visit_id**             | `str`                    | /                   | Unique visit/session ID. |
| **process_step**         | `str`                    | /              | Funnel step; converted to ordered categorical type. |
| **date_time**            | `str`                    | `datetime`        | Interaction timestamp; converted to datetime. |
| **test_group**           | `str`                    | /              | A/B test group; nulls handled and type converted to categorical. |

<hr>

# üìä EXPLORE DATASETS

<style>
h1 {
    text-align: center;
    color: green;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

<hr>

## üóÉÔ∏è 1 - CLIENTS PROFILE


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

- CSV: `../data/interim/client_profiles.csv`
- DataFrame: `df_final_demo`
- **Demographics like age, gender, and account details of our clients.**

In [25]:
import pandas as pd
from IPython.display import display

# Load the df_final_demo text file and convert to DataFrame then save to CSV ---------------------------------------------------------------------------------------------

# Load df_final_demo dataset and split by the separator comma ","
df_final_demo = pd.read_csv("../data/raw/df_final_demo.txt",sep=",")

# Save the DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"DEMO DATA shape: {df_final_demo.shape}")
df_final_demo.to_csv("../data/interim/client_profiles.csv",index=False)

# Display the DataFrame to ensure it loaded correctly --------------------------------------------------------------
print("Saved df_final_demo in a CSV file located ../data/interim/client_profiles.csv.")
display(df_final_demo)

# Assign df_final_demo to df_clients_profiles
df_clients_profiles = df_final_demo

DEMO DATA shape: (70609, 9)
Saved df_final_demo in a CSV file located ../data/interim/client_profiles.csv.

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

<hr>

## üóÉÔ∏è 2 - DIGITAL FOOTPRINTS


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

- CSV: `../data/interim/digital_footprints.csv`
- DataFrame: `df_digital_footprints`
- Merge of `pt_1` and `pt_2`

---
### üë©‚Äçüíª Merging **df_pt_1** and **df_pt_2** into final DataFrame for **df_digital_footprints**


FROM TXT:
- `pt_1.txt`
- `pt_2.txt`

TO CSV:
- `digital_footprints_pt_1.csv`
- `digital_footprints_pt_2.csv`

- `digital_footprints_final.csv`

In [26]:
import pandas as pd
from IPython.display import display
# Load the txt files (comma-separated) and convert to DataFrames then save to CSV ---------------------------------------------------------------------------------------------
# Load the two parts of the final web data and split by the separator comma ","
df_pt_1 = pd.read_csv("../data/raw/df_final_web_data_pt_1.txt",sep=",")
df_pt_2 = pd.read_csv("../data/raw/df_final_web_data_pt_2.txt",sep=",")

# Display the 2 DataFrames to ensure they loaded correctly --------------------------------------------------------------
display(df_pt_1.head())
display(df_pt_2.head())

# Save each DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"WEB DATA PART 1 shape: {df_pt_1.shape}")
df_pt_1.to_csv("../data/interim/digital_footprints_pt_1.csv",index=False)
print("Saved df_pt_1 in ../data/interim/digital_footprints_pt_1.csv")

print(f"WEB DATA PART 2 shape: {df_pt_2.shape}")
df_pt_2.to_csv("../data/interim/digital_footprints_pt_2.csv",index=False)
print("Saved df_pt_2 in ../data/interim/digital_footprints_pt_2.csv")
print("Saved both parts as CSV files.")

# Merge the two parts (same columns) --------------------------------------------------------------------------------
df_final_web_data = pd.concat([df_pt_1, df_pt_2],ignore_index=True)
print(f"Final Merged part shape: {df_final_web_data.shape}")

# Save merged CSV ---------------------------------------------------------------------------------------------
df_final_web_data.to_csv('../data/interim/digital_footprints.csv', index=False)

print("Merged digital footprints parts and saved in '../data/interim/digital_footprints.csv'")

# Display the merged DataFrame to ensure it loaded correctly ---------------------------------------------------------------------------------------------
display(df_final_web_data.head())

# Assign merged df to df_digital_footprints------------------------------------------------------------------
df_digital_footprints = df_final_web_data

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58

WEB DATA PART 1 shape: (343141, 5)
Saved df_pt_1 in ../data/interim/digital_footprints_pt_1.csv
WEB DATA PART 2 shape: (412264, 5)
Saved df_pt_2 in ../data/interim/digital_footprints_pt_2.csv
Saved both parts as CSV files.
Final Merged part shape: (755405, 5)
Merged digital footprints parts and saved in '../data/interim/digital_footprints.csv'

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04

---
### üë©‚Äçüíª *Loading in DIGITAL FOOTPRINTS DATAFRAME*

In [27]:
import pandas as pd
# load csv to verify
df_digital_footprints = pd.read_csv('../data/interim/digital_footprints.csv')
display(df_digital_footprints)

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

<hr>

## üóÉÔ∏è 3 - EXPERIMENT ROSTER


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

- CSV: `../data/interim/experiment_roster.csv`
- DataFrame: `df_final_experiment_clients`
- A list revealing which clients were part of the grand experiment

In [28]:
import pandas as pd
from IPython.display import display

# Load the df_final_experiment_clients. text file and convert to DataFrame then save to CSV ---------------------------------------------------------------------------------------------

# Load df_final_demo dataset and split by the separator comma ","
df_final_experiment_clients = pd.read_csv("../data/raw/df_final_experiment_clients.txt",sep=",")

# Save the DataFrame to CSV ---------------------------------------------------------------------------------------------
print(f"FINAL EXPERIMENT CLIENTS shape: {df_final_experiment_clients.shape}")
df_final_experiment_clients.to_csv("../data/interim/experiment_roster.csv",index=False)

# Display the DataFrame to ensure it loaded correctly --------------------------------------------------------------
print("Saved df_final_experiment_clients as CSV file in ../data/interim/experiment_roster.csv.")
display(df_final_experiment_clients)

# Assign df_final_experiment_clients to df_experiment_roster
df_experiment_roster = df_final_experiment_clients

FINAL EXPERIMENT CLIENTS shape: (70609, 2)
Saved df_final_experiment_clients as CSV file in ../data/interim/experiment_roster.csv.

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

<hr>

## üóÉÔ∏è 4 - VANGUARD AB TEST


<style>
h1 {
    text-align: center;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

### üë©‚Äçüíª *Load the 3 DATASETS into DataFrames*

- `df_client_profiles` loaded with **"../data/interim/client_profiles.csv"** 
- `df_digital_footprints` loaded with  **"../data/interim/digital_footprints.csv"**
- `df_experiment_roster` loaded with **"../data/interim/experiment_roster.csv"**

In [29]:
import pandas as pd

# client_profiles dataset
df_client_profiles = pd.read_csv("../data/interim/client_profiles.csv")

# digital_footprints dataset (main dataset for client behaviour)
df_digital_footprints = pd.read_csv("../data/interim/digital_footprints.csv")

# experiment_roster dataset
df_experiment_roster = pd.read_csv("../data/interim/experiment_roster.csv")

---
### üë©‚Äçüíª *Explore the 3 DATASETS seperately*

In [30]:
import pandas as pd
# display the datasets ---------------------------------------------------------------------------------------------

# display client_profiles dataset
print("Client Profiles Dataset:")
print("Client Profiles Dataset Shape:", df_client_profiles.shape[0], "rows and", df_client_profiles.shape[1], "columns\n")
df_client_profiles.info()
display(df_client_profiles)

# display digital_footprints dataset
print("Digital Footprints Dataset:")
print("Digital Footprints Dataset Shape:", df_digital_footprints.shape[0], "rows and", df_digital_footprints.shape[1], "columns\n")
df_digital_footprints.info()
display(df_digital_footprints)

# display experiment_roster dataset
print("Experiment Roster Dataset:")
print("Experiment Roster Dataset Shape:", df_experiment_roster.shape[0], "rows and", df_experiment_roster.shape[1], "columns\n")
df_experiment_roster.info()
display(df_experiment_roster)

Client Profiles Dataset:
Client Profiles Dataset Shape: 70609 rows and 9 columns

<class 'pandas.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   client_id         70609 non-null  int64
 1   clnt_tenure_yr    70595 non-null  float64
 2   clnt_tenure_mnth  70595 non-null  float64
 3   clnt_age          70594 non-null  float64
 4   gendr             70595 non-null  str
 5   num_accts         70595 non-null  float64
 6   bal               70595 non-null  float64
 7   calls_6_mnth      70595 non-null  float64
 8   logons_6_mnth     70595 non-null  float64
dtypes: float64(7), int64(1), str(1)
memory usage: 4.8 MB

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth
0,836976,6.0,73.0,60.5,U,2.0,45105.30,6.0,9.0
1,2304905,7.0,94.0,58.0,U,2.0,110860.30,6.0,9.0
2,1439522,5.0,64.0,32.0,U,2.0,52467.79,6.0,9.0
3,1562045,16.0,198.0,49.0,M,2.0,67454.65,3.0,6.0
4,5126305,12.0,145.0,33.0,F,2.0,103671.75,0.0,3.0
...,...,...,...,...,...,...,...,...,...
70604,7993686,4.0,56.0,38.5,U,3.0,1411062.68,5.0,5.0
70605,8981690,12.0,148.0,31.0,M,2.0,101867.07,6.0,6.0
70606,333913,16.0,198.0,61.5,F,2.0,40745.00,3.0,3.0
70607,1573142,21.0,255.0,68.0,M,3.0,475114.69,4.0,4.0
70608,5602139,21.0,254.0,59.5,F,3.0,157498.73,7.0,7.0

Digital Footprints Dataset:
Digital Footprints Dataset Shape: 755405 rows and 5 columns

<class 'pandas.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 5 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  str
 2   visit_id      755405 non-null  str
 3   process_step  755405 non-null  str
 4   date_time     755405 non-null  str
dtypes: int64(1), str(4)
memory usage: 28.8 MB

,client_id,visitor_id,visit_id,process_step,date_time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...
755400,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:46:10
755401,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:45:29
755402,9668240,388766751_9038881013,922267647_3096648104_968866,step_1,2017-05-24 18:44:51
755403,9668240,388766751_9038881013,922267647_3096648104_968866,start,2017-05-24 18:44:34
755404,674799,947159805_81558194550,86152093_47511127657_716022,start,2017-06-03 12:17:09

Experiment Roster Dataset:
Experiment Roster Dataset Shape: 70609 rows and 2 columns

<class 'pandas.DataFrame'>
RangeIndex: 70609 entries, 0 to 70608
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  70609 non-null  int64
 1   Variation  50500 non-null  str
dtypes: int64(1), str(1)
memory usage: 1.1 MB

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

---
### üë©‚Äçüíª *Combine the 3 datasets into 1 dataset*
* The 3 datasets share client_id as a common column

In [31]:
import pandas as pd

# Load datasets
df_client_profiles = pd.read_csv("../data/interim/client_profiles.csv")
df_digital_footprints = pd.read_csv("../data/interim/digital_footprints.csv")
df_experiment_roster = pd.read_csv("../data/interim/experiment_roster.csv")

# Merge datasets on client_id (left joins)
df_ab_test = df_client_profiles.merge(df_digital_footprints, on="client_id", how="left") \
                            .merge(df_experiment_roster, on="client_id", how="left")

# Save as main dataset
df_ab_test.to_csv("../data/interim/vanguard_ab_test.csv", index=False)

In [32]:
display(df_ab_test.head())

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,visitor_id,visit_id,process_step,date_time,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test