<hr>

# üìñ README

<style>
h1 {
    text-align: center;
    color: orange;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

## üì≤ ***Vanguard A/B Test Results Analysis*** 
- Company : Vanguard, the US-based investment management company. (website: https://investor.vanguard.com/)
- Role : newly hired DATA ANALYST in the Customer Experience (CX) team. 
The team launched an exciting digital experiment, and now, they're eagerly waiting to uncover the results and need your help!
- Task : Analyze the results of the digital experiment conducted by the team.Primary objective:¬† Decode the experiment's performance.
- The critical question : Would these changes encourage more clients to complete the process?
- Belief : Vanguard believed that a more intuitive, modern UI with timely in-context prompts (cues, messages, or instructions within the user‚Äôs current task) could make the online process smoother for clients.
---
üì≤ An **A/B test** was set **into motion** `from 3/15/2017 to 6/20/2017` by the team.
- Control Group: Clients interacted with Vanguard's traditional online process. (old UI)- Test Group: Clients experienced the new, spruced-up digital interface. (new UI)
---

Both groups navigated through an identical process sequence:
- an initial page (start), 
- three subsequent steps (step 1, step 2, step 3), 
- and finally, a confirmation page signaling process completion.
---

**The goal is to see if the new design leads to a better user experience and higher process completion rates.**

---

## üìã **Datasets CSV files and DataFrames**

| CSV                        | DataFrame                                               | Description                                                                 |
|---------------------------------|--------------------------------------------------------------|-----------------------------------------------------------------------------|
| **Client Profiles**              | `df_client_profiles`                                             | Demographics of clients including age, gender, and account details.        |
| **Digital Footprints (merge of part 1 & 2)** | `df_digital_footprints` (merge of `df_pt_1` and `df_pt_2`) | Detailed trace of client online interactions; parts 1 & 2 merged.|
| **Experiment Roster**            | `df_experiment_roster`                                | List of clients who participated in the grand experiment.                  |
| **Vanguard AB Test**            | `df_vanguard_ab_test`                                | all of the dataset for the A/B Test.                  |


## üìã **Vanguard AB TEST Data Types (Before & After Cleaning)**

| Field Name               | Raw Data Type  | Interim/Clean Data Type | Description |
|--------------------------|--------------------------|-------------------------|-------------|
| **client_id**            | `int`                  | /                 | Unique identifier for each client. |
| **client_tenure_years**  | `float`                | `int`                 | Client tenure in years; nulls filled or removed, converted to integer. |
| **client_tenure_months** | `float`                | `int`                 | Client tenure in months; nulls handled, converted to integer. |
| **client_age**           | `float`                | `int`                 | Client age; nulls handled, converted to integer. |
| **gender**               | `str`                    | /                   | Client gender; standardized categories (M, F, U, X). |
| **number_of_accounts**   | `float`                | `int`                 | Number of accounts; nulls filled with 0, converted to integer. |
| **account_balance**      | `float`                | /               | Client account balance; no change. |
| **calls_last_6_months**  | `float`                | `int`                 | Calls in last 6 months; nulls filled with 0, converted to integer. |
| **logins_last_6_months** | `float`                | `int`                 | Logins in last 6 months; nulls filled with 0, converted to integer. |
| **visitor_id**           | `str`                    | /                   | Unique visitor ID. |
| **visit_id**             | `str`                    | /                   | Unique visit/session ID. |
| **process_step**         | `str`                    | /              | Funnel step; converted to ordered categorical type. |
| **date_time**            | `str`                    | `datetime`        | Interaction timestamp; converted to datetime. |
| **test_group**           | `str`                    | /              | A/B test group; nulls handled and type converted to categorical. |

<hr>

# üß´ DATA CLEANING STEPS

<style>
h1 {
    text-align: center;
    color: blue;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

- display(df_vanguard_ab_test) 
- df.info()
- df["column_name"].unique()
- data mapping
- replace

<hr>

## 0Ô∏è‚É£ FIRST VIEW OF THE WHOLE DATASET VANGUARD AB TEST


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [33]:
import pandas as pd
df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

# display vanguard_ab_test dataset
print("Vanguard A/B Test Dataset:")
print("Vanguard A/B Test Dataset Shape:", df_vanguard_ab_test.shape[0], "rows and", df_vanguard_ab_test.shape[1], "columns\n")
df_vanguard_ab_test.info()
display(df_vanguard_ab_test.head())

C:\Users\sboub\AppData\Local\Temp\ipykernel_2532\1209327210.py:2: DtypeWarning: Columns (0: Variation) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

Vanguard A/B Test Dataset:
Vanguard A/B Test Dataset Shape: 449831 rows and 14 columns

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   client_id         449831 non-null  int64
 1   clnt_tenure_yr    449716 non-null  float64
 2   clnt_tenure_mnth  449716 non-null  float64
 3   clnt_age          449704 non-null  float64
 4   gendr             449716 non-null  str
 5   num_accts         449716 non-null  float64
 6   bal               449716 non-null  float64
 7   calls_6_mnth      449716 non-null  float64
 8   logons_6_mnth     449716 non-null  float64
 9   visitor_id        449831 non-null  str
 10  visit_id          449831 non-null  str
 11  process_step      449831 non-null  str
 12  date_time         449831 non-null  str
 13  Variation         321309 non-null  str
dtypes: float64(7), int64(1), str(6)
memory usage: 48.0 MB

,client_id,clnt_tenure_yr,clnt_tenure_mnth,clnt_age,gendr,num_accts,bal,calls_6_mnth,logons_6_mnth,visitor_id,visit_id,process_step,date_time,Variation
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

In [34]:
df_vanguard_ab_test.columns.tolist()

['client_id',
 'clnt_tenure_yr',
 'clnt_tenure_mnth',
 'clnt_age',
 'gendr',
 'num_accts',
 'bal',
 'calls_6_mnth',
 'logons_6_mnth',
 'visitor_id',
 'visit_id',
 'process_step',
 'date_time',
 'Variation']

<hr>

## 1Ô∏è‚É£ STANDARDIZING COLUMNS NAMES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>


| Original Column Name    | Standardized Column Name       |
|-------------------------|-------------------------------|
| `clnt_tenure_yr`        | `client_tenure_years`        |
| `clnt_tenure_mnth`      | `client_tenure_months`       |
| `clnt_age`              | `client_age`                 |
| `gendr`                 | `gender`                     |
| `num_accts`             | `number_of_accounts`         |
| `bal`                   | `account_balance`            |
| `calls_6_mnth`          | `calls_last_6_months`        |
| `logons_6_mnth`         | `logins_last_6_months`       |
| `Variation`             | `test_group`                 |

In [35]:
import pandas as pd

# Load your main Vanguard A/B test dataset
df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

# Define the renaming dictionary
rename_columns = {
    "clnt_tenure_yr": "client_tenure_years",
    "clnt_tenure_mnth": "client_tenure_months",
    "clnt_age": "client_age",
    "gendr": "gender",
    "num_accts": "number_of_accounts",
    "bal": "account_balance",
    "calls_6_mnth": "calls_last_6_months",
    "logons_6_mnth": "logins_last_6_months",
    "Variation": "test_group"
}

# Rename columns
df_vanguard_ab_test.rename(columns=rename_columns, inplace=True)

# Save the updated dataset
df_vanguard_ab_test.to_csv("../data/interim/vanguard_ab_test_standardized.csv", index=False)

C:\Users\sboub\AppData\Local\Temp\ipykernel_2532\3873568717.py:4: DtypeWarning: Columns (0: Variation) have mixed types. Specify dtype option on import or set low_memory=False.
  df_vanguard_ab_test = pd.read_csv("../data/interim/vanguard_ab_test.csv")

In [36]:
display(df_vanguard_ab_test.head())

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,date_time,test_group
0,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6.0,73.0,60.5,U,2.0,45105.3,6.0,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

In [37]:
df_vanguard_ab_test.columns.tolist()

['client_id',
 'client_tenure_years',
 'client_tenure_months',
 'client_age',
 'gender',
 'number_of_accounts',
 'account_balance',
 'calls_last_6_months',
 'logins_last_6_months',
 'visitor_id',
 'visit_id',
 'process_step',
 'date_time',
 'test_group']

In [38]:
# columns names standardization check
df_vanguard_ab_test.info()

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  float64
 2   client_tenure_months  449716 non-null  float64
 3   client_age            449704 non-null  float64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  float64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  float64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  str
 13  test_group            321309 non-null  str
dtypes: float64(7), int64(1), str(6)
memory usage: 48.0 MB

<hr>

## 2Ô∏è‚É£ INVALID VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

### Checking data type and unique values of every column

In [39]:
# client_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_id'].dtype)
print(f"Client IDs: {df_vanguard_ab_test['client_id'].unique()}\n")

# client_tenure_years ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_tenure_years'].dtype)
print(f"Client Tenure Years: {df_vanguard_ab_test['client_tenure_years'].unique()}\n")
# convert data type to int
# change 0.0 to 0

# client_tenure_months ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_tenure_months'].dtype)
print(f"Client Tenure Months: {df_vanguard_ab_test['client_tenure_months'].unique()}\n")
# convert data type to int
# change 0.0 to 0

# client_age ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['client_age'].dtype)
print(f"Client Age: {df_vanguard_ab_test['client_age'].unique()}\n")
# convert data type to int
# 20.5 years of experience
# 20 years + 0.5*12 = 20 years and 6 months
# 20 years instead of 20.5 years
# change 0.0 to 0

# gender ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['gender'].dtype)
print(f"Gender: {df_vanguard_ab_test['gender'].unique()}\n")
# F is Female
# M is Male
# U is Unknown
# X is binary
# fill nulls with 'U' for Unknown

# number_of_accounts ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['number_of_accounts'].dtype)
print(f"Number of Accounts: {df_vanguard_ab_test['number_of_accounts'].unique()}\n")
# convert data type to int
# change 0.0 to 0

# account_balance ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['account_balance'].dtype)
print(f"Account Balance: {df_vanguard_ab_test['account_balance'].unique()}\n")
# keep as float

# calls_last_6_months ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['calls_last_6_months'].dtype)
print(f"Calls Last 6 Months: {df_vanguard_ab_test['calls_last_6_months'].unique()}\n")
# convert data type to int
# change 0.0 to 0

# logins_last_6_months ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['logins_last_6_months'].dtype)
print(f"Logins Last 6 Months: {df_vanguard_ab_test['logins_last_6_months'].unique()}\n")
# convert data type to int
# change 0.0 to 0


# visitor_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['visitor_id'].dtype)
print(f"Visitor IDs: {df_vanguard_ab_test['visitor_id'].unique()}\n")
# assuming visitor_id is different from client_id

# visit_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['visit_id'].dtype)
print(f"Visit IDs: {df_vanguard_ab_test['visit_id'].unique()}\n")
# assuming visit_id is different from client_id and visitor_id

# session_id ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['process_step'].dtype)
print(f"Process Steps: {df_vanguard_ab_test['process_step'].unique()}\n")
# categorical continuous variable with values: step_1, step_2, step_3, step_4, step_5

# date_time ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['date_time'].dtype)
print(f"Date and Time: {df_vanguard_ab_test['date_time'].unique()}\n")
# convert datatype to datetime (date and time)

# test_group ------------------------------------------------------------------------------
print("data type:", df_vanguard_ab_test['test_group'].dtype)
print(f"Test Groups: {df_vanguard_ab_test['test_group'].unique()}\n")
# A group = "Test" | B group ="Control"
# test_group can be "Test" or "Control" or "NOT included"

data type: int64
Client IDs: [ 836976 2304905 1439522 ...  333913 1573142 5602139]

data type: float64
Client Tenure Years: [ 6.  7.  5. 16. 12. 30. 15.  8.  4.  3. 10. 11. 13. 14. 19. 18. 25. 23.
 21. 17.  9. 27. 24. 20. 28. 22. 29. 46. 26. 32. 33. 35.  2. 38. 31. 48.
 34. 36. 51. nan 47. 49. 37. 39. 40. 55. 42. 44. 43. 50. 54. 41. 45. 52.
 62.]

data type: float64
Client Tenure Months: [ 73.  94.  64. 198. 145.  71.  66. 361. 369. 189. 100.  99.  67. 193.
  58.  47. 122. 136. 101. 103.  70. 152. 160.  80.  88.  86.  65.  68.
  93.  85. 168. 142. 228. 223. 305. 286. 285. 280. 254. 253. 278. 221.
 216. 212. 204. 260. 116. 130. 177. 159. 190.  89.  91. 129. 329.  92.
  82. 169. 239.  69. 178.  95.  63. 187. 288. 261. 251. 250.  56.  60.
 123. 175. 188.  59. 336. 149. 156. 330. 155. 167.  96. 242. 163.  81.
 182. 134. 113. 172. 120. 105. 271. 244. 200. 157.  78. 151. 121. 184.
 335. 357. 111. 185.  76. 148.  97.  83. 347. 324. 162. 194.  74. 186.
 300. 289. 295. 282. 270. 246. 229. 206. 109. 343. 176. 144. 161. 179.
 106. 154. 119.  75. 166. 143. 202. 326. 298. 290. 279. 252.  57. 334.
 150.  46. 114. 174.  72. 107. 164. 131. 554. 140. 118. 292. 273. 257.
 225. 128. 135. 258. 126. 359. 210. 263. 262. 255. 214. 310. 141. 319.
 395. 108. 181. 173.  55. 203. 297. 213. 183. 115. 117. 299. 287. 269.
 222. 195. 127. 245. 110. 102.  54. 277. 276. 274. 249. 147. 153.  84.
 132. 312.  79. 146. 346. 348. 332. 170. 267. 191.  38. 205. 265. 264.
 234. 233. 208.  53. 399. 197. 139.  61. 124. 165. 236. 219. 215. 226.
 388. 421. 192. 306. 266. 240. 231. 180. 296.  87. 158. 227. 196. 199.
  34. 397.  90. 349.  42. 424. 337. 207. 104. 338. 137. 201.  62. 294.
 230. 220. 209.  49. 321. 345. 138.  33. 238. 459. 171. 355.  98. 237.
 235. 370. 352.  48. 303. 259. 218. 322. 428. 247. 241. 341. 302. 217.
 360. 385. 383. 576. 293. 243. 350. 340.  36. 256. 323. 354. 232. 318.
 313.  51.  77. 430. 420. 268. 275. 317. 339.  35. 327. 407. 301. 133.
 211. 125. 112.  43. 281.  45. 316.  40. 325. 291. 368. 384. 248. 382.
 314. 408. 284. 283. 376. 304. 309. 356. 394. 386. 311. 419. 411. 406.
 409. 464. 224. 333. 371. 358. 401. 320. 413. 375. 422. 272.  52. 342.
 307. 328. 381. 434. 353. 612. 400.  50. 344. 367. 415. 364. 374. 416.
 391. 431.  nan 423. 396. 315. 378.  44. 379. 569. 596. 393. 392.  41.
 362. 451. 439. 331. 468. 418. 442. 389.  37. 481. 366. 351. 390. 402.
 463.  39. 432. 403. 417. 461. 380. 482. 460. 372. 308. 373. 465. 404.
 412. 387. 561. 669. 429. 585. 414. 365. 427. 504. 433. 444. 456. 410.
 441. 512. 445. 539. 516. 363. 454. 589. 425. 377. 457. 443. 398. 484.
 473. 507. 475. 449. 668. 602. 405. 446. 608. 447. 440. 453. 613. 462.
 483. 479. 562. 485. 655. 448. 472. 564. 526. 532. 511. 492. 426. 593.
 455. 450. 581. 550. 624. 571. 563. 469. 661. 436. 610. 586. 535. 603.
 631. 509. 614. 466. 667. 749. 480.]

data type: float64
Client Age: [60.5 58.  32.  49.  33.  30.5 58.5 57.5 67.5 54.5 34.5 51.5 62.5 36.
 74.  32.5 31.  25.5 42.5 42.  30.  55.  38.  68.5 52.5 54.  63.  48.
 66.5 68.  65.  51.  46.  63.5 23.  26.5 56.5 76.5 27.5 39.5 25.  27.
 60.  66.  39.  56.  40.  52.  31.5 43.5 35.  19.  64.5 64.  22.5 33.5
 36.5 61.  40.5 72.  44.5 28.5 59.5 45.  18.  78.  50.5 29.  37.5 57.
 70.  74.5 22.  50.  53.  62.  65.5 29.5 28.  69.5 35.5 71.5 34.  38.5
 69.  43.  83.5 21.5 47.  61.5 73.5 71.  59.  21.  44.  83.  47.5 72.5
 76.  78.5 55.5 67.  41.5 20.5 75.  24.  79.  26.  41.  23.5 49.5 46.5
 45.5 48.5 24.5 75.5 80.  73.  87.  19.5 53.5 18.5 70.5 80.5 86.  37.
 85.  17.5 82.  20.  77.5 77.  79.5 88.5 96.  81.  81.5 88.  84.   nan
 94.5 89.  92.  82.5 91.5 85.5 95.5 84.5 90.  89.5 93.  90.5 87.5 93.5
 86.5 91.  17.  94.  92.5 15.5 16.  16.5 14.5 15.  14.  13.5]

data type: str
Gender: <StringArray>
['U', 'M', 'F', nan, 'X']
Length: 5, dtype: str

data type: float64
Number of Accounts: [ 2.  5.  3.  4.  6.  7. nan  1.  8.]

data type: float64
Account Balance: [ 45105.3  110860.3   52467.79 ...  40745.   475114.69 157498.73]

data type: float64
Calls Last 6 Months: [ 6.  3.  0.  2.  1.  5.  4. nan  7.]

data type: float64
Logins Last 6 Months: [ 9.  6.  3.  5.  4.  8.  7. nan  1.  2.]

data type: str
Visitor IDs: <StringArray>
[ '427070339_1413275162', '336210275_56978226960', '245908175_84333642537',
 '407067363_48226131468', '391202328_71710993352', '432077852_35036160885',
 '875448077_54387937735', '227827901_46893415084',  '56607555_75044897582',
 '667009768_32934260678',
 ...
 '616643929_99035070625',  '87972764_45157109967',  '43214017_97463037638',
  '55178744_59935472472', '441324114_37855673027',  '235892744_2995807940',
 '405457094_54883289172', '110929964_38003873994',  '880662048_9504251369',
 '962766819_57063135389']
Length: 78187, dtype: str

data type: str
Visit IDs: <StringArray>
[ '228976764_46825473280_96584',  '104438405_2368283624_817211',
 '724930510_65323235593_692754', '898099666_87299892721_263146',
  '968288276_7230824336_666089',  '71954691_44810191073_495385',
 '942996157_39527225999_589383', '717519432_65547872352_613051',
 '468902637_55778357932_556682', '247503697_11679931698_453228',
 ...
 '758008859_31261979266_426270', '458308265_80160772759_795974',
  '10432687_78618454141_814606', '504342110_43310803922_587933',
 '535967473_99843170075_417938', '709721715_35968917131_979675',
  '326174177_47892407008_51741', '448875043_84914821939_263970',
   '158544612_4105226940_43043', '884309593_49820690623_654151']
Length: 96773, dtype: str

data type: str
Process Steps: <StringArray>
['confirm', 'step_3', 'step_2', 'step_1', 'start']
Length: 5, dtype: str

data type: str
Date and Time: <StringArray>
['2017-04-02 11:51:13', '2017-04-02 11:47:50', '2017-04-02 11:46:45',
 '2017-04-02 11:23:08', '2017-04-02 11:22:24', '2017-04-02 11:21:38',
 '2017-04-02 11:21:28', '2017-03-29 11:02:44', '2017-03-29 11:01:40',
 '2017-03-29 10:59:43',
 ...
 '2017-05-31 06:13:59', '2017-04-09 13:03:40', '2017-04-09 12:46:22',
 '2017-04-09 12:44:25', '2017-04-06 14:22:03', '2017-04-06 14:19:28',
 '2017-04-19 12:11:16', '2017-04-24 11:45:37', '2017-04-24 11:44:51',
 '2017-04-24 11:44:36']
Length: 384038, dtype: str

data type: str
Test Groups: <StringArray>
['Test', 'Control', nan]
Length: 3, dtype: str

<hr>

## 3Ô∏è‚É£ COLUMN DATA TYPES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [40]:
# view data types of datafields ---------------------------------------------------------------------------------------------
df_vanguard_ab_test.info()

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  float64
 2   client_tenure_months  449716 non-null  float64
 3   client_age            449704 non-null  float64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  float64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  float64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  str
 13  test_group            321309 non-null  str
dtypes: float64(7), int64(1), str(6)
memory usage: 48.0 MB

### DataField Type Changes

| DataField | Old Data Type | New Data Type | Reason |
|-----------|---------------|---------------|--------|
| `client_tenure_years` | float | int | Tenure should be in whole years |
| `client_tenure_months` | float | int | Tenure should be in whole months |
| `client_age` | float | int | Age should be an integer |
| `number_of_accounts` | float | int | Account counts must be integers |
| `calls_last_6_months` | float | int | Call counts must be integers |

In [41]:
import numpy as np
# Data type conversion to integer ---------------------------------------------------------------------------------------------
# Convert client_tenure_years to integer
df_vanguard_ab_test['client_tenure_years'] = df_vanguard_ab_test['client_tenure_years'].astype('Int64')

# Convert client_tenure_months to integer
df_vanguard_ab_test['client_tenure_months'] = df_vanguard_ab_test['client_tenure_months'].astype('Int64')

# Convert client_age to integer
df_vanguard_ab_test['client_age'] = (np.floor(df_vanguard_ab_test['client_age']).astype('Int64'))

# Convert number_of_accounts to integer
df_vanguard_ab_test['number_of_accounts'] = df_vanguard_ab_test['number_of_accounts'].astype('Int64')

# Convert calls_last_6_months to integer
df_vanguard_ab_test['calls_last_6_months'] = df_vanguard_ab_test['calls_last_6_months'].astype('Int64')

# Convert date_time to datetime
df_vanguard_ab_test['date_time'] = pd.to_datetime(
    df_vanguard_ab_test['date_time'],
    format='%Y-%m-%d %H:%M:%S',
    errors='coerce'
)

In [42]:
# verify types after conversion
df_vanguard_ab_test.info()

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  Int64
 2   client_tenure_months  449716 non-null  Int64
 3   client_age            449704 non-null  Int64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  Int64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  Int64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  datetime64[us]
 13  test_group            321309 non-null  str
dtypes: Int64(5), datetime64[us](1), float64(2), int64(1), str(5)
memory usage: 50.2 MB

In [43]:
display(df_vanguard_ab_test.head())

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,date_time,test_group
0,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

<hr>

## 4Ô∏è‚É£ DEALING WITH INVALID & NULL VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [44]:
# Check columns with null values ---------------------------------------------------------------------------------------------
null_columns = df_vanguard_ab_test.info()
# columns with null values: -------------------------------
#1.   client_tenure_years   449716 non-null  Int64         
#2.   client_tenure_months  449716 non-null  Int64         
#3.   client_age            449704 non-null  Int64         
#4.   gender                449716 non-null  str           
#5.   number_of_accounts    449716 non-null  Int64         
#6.   account_balance       449716 non-null  float64       
#7.   calls_last_6_months   449716 non-null  Int64         
#8.   logins_last_6_months  449716 non-null  float64       
#13.  test_group            321309 non-null  str
# ---------------------------------------------------------

<class 'pandas.DataFrame'>
RangeIndex: 449831 entries, 0 to 449830
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   client_id             449831 non-null  int64
 1   client_tenure_years   449716 non-null  Int64
 2   client_tenure_months  449716 non-null  Int64
 3   client_age            449704 non-null  Int64
 4   gender                449716 non-null  str
 5   number_of_accounts    449716 non-null  Int64
 6   account_balance       449716 non-null  float64
 7   calls_last_6_months   449716 non-null  Int64
 8   logins_last_6_months  449716 non-null  float64
 9   visitor_id            449831 non-null  str
 10  visit_id              449831 non-null  str
 11  process_step          449831 non-null  str
 12  date_time             449831 non-null  datetime64[us]
 13  test_group            321309 non-null  str
dtypes: Int64(5), datetime64[us](1), float64(2), int64(1), str(5)
memory usage: 50.2 MB

### Display DATA Before dealing with null values

In [45]:
display(df_vanguard_ab_test.head())

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,date_time,test_group
0,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6,73,60,U,2,45105.3,6,9.0,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

### *List of Columns with Null Values*
 
| Column Number | Column Name             |
|---------------|------------------------|
| 1             | `client_tenure_years`  |
| 2             | `client_tenure_months` |
| 3             | `client_age`           |
| 4             | `gender`               |
| 5             | `number_of_accounts`   |
| 6             | `account_balance`      |
| 7             | `calls_last_6_months`  |
| 8             | `logins_last_6_months` |
| 13            | `test_group`           |

### 1. *client_tenure_years*

In [46]:
import numpy as np
import pandas as pd

# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in client_tenure_years: {df_vanguard_ab_test['client_tenure_years'].isna().sum()}")

# Round down client_tenure_years and convert to pandas nullable integer type 
df_vanguard_ab_test['client_tenure_years'] = np.floor(df_vanguard_ab_test['client_tenure_years']).astype('Int64')

# drop rows with null values in client_tenure_years
df_vanguard_ab_test = df_vanguard_ab_test.dropna(subset=['client_tenure_years'])

# Confirm
print(df_vanguard_ab_test['client_tenure_years'].dtype)  # should be integer
print(df_vanguard_ab_test['client_tenure_years'].head())

# Number of null values AFTER cleaning
print(f"After cleaning - The number of null values in client_tenure_years: {df_vanguard_ab_test['client_tenure_years'].isna().sum()}")

Before cleaning - The number of null values in client_tenure_years: 115
Int64
0    6
1    6
2    6
3    6
4    6
Name: client_tenure_years, dtype: Int64
After cleaning - The number of null values in client_tenure_years: 0

### 2. *client_tenure_months*

In [47]:
import numpy as np
import pandas as pd

# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in client_tenure_months: {df_vanguard_ab_test['client_tenure_months'].isna().sum()}")

# Round down client_tenure_months and convert to pandas nullable integer type 
df_vanguard_ab_test['client_tenure_months'] = np.floor(df_vanguard_ab_test['client_tenure_months']).astype('Int64')

# Confirm
print(df_vanguard_ab_test['client_tenure_months'].dtype)  # should be integer
print(df_vanguard_ab_test['client_tenure_months'].head())

# Number of null values AFTER cleaning
print(f"After cleaning - The number of null values in client_tenure_months: {df_vanguard_ab_test['client_tenure_months'].isna().sum()}")

Before cleaning - The number of null values in client_tenure_months: 0
Int64
0    73
1    73
2    73
3    73
4    73
Name: client_tenure_months, dtype: Int64
After cleaning - The number of null values in client_tenure_months: 0

### 3. *client_age*

In [48]:
import numpy as np
import pandas as pd

# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in client_age: {df_vanguard_ab_test['client_age'].isna().sum()}")

# Round down client_age and convert to pandas nullable integer type 
df_vanguard_ab_test['client_age'] = np.floor(df_vanguard_ab_test['client_age']).astype('Int64')

# Confirm
print(df_vanguard_ab_test['client_age'].dtype)  # should be integer
print(df_vanguard_ab_test['client_age'].head())

# drop rows with null values in client_age
df_vanguard_ab_test = df_vanguard_ab_test.dropna(subset=['client_age'])

# Number of null values AFTER cleaning
print(f"After cleaning - The number of null values in client_age: {df_vanguard_ab_test['client_age'].isna().sum()}")

Before cleaning - The number of null values in client_age: 12
Int64
0    60
1    60
2    60
3    60
4    60
Name: client_age, dtype: Int64
After cleaning - The number of null values in client_age: 0

### 4. *gender*

In [49]:
# Handle null values ---------------------------------------------------------------------------------------------
# gender before cleaning
print(f"gender before cleaning: {df_vanguard_ab_test['gender'].unique()}")
# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in gender: {df_vanguard_ab_test['gender'].isna().sum()}")

# gender: categorical
# M is Male | Male 
# F is Female | Female
# U is Unknown | Unknown / Unspecified / Not provided
# X is binary | Non-binary / Other / Not classified 
# `nan` | Missing value to fill with `U`
print("\n")
# Fill nulls in gender with 'U' for Unknown
df_vanguard_ab_test['gender'] = df_vanguard_ab_test['gender'].fillna('U')

# Verify unique values after cleaning
print(f"gender after cleaning: {df_vanguard_ab_test['gender'].unique()}")

# Number of null values AFTER cleaning
print(f"After cleaning - The number of null values in gender: {df_vanguard_ab_test['gender'].isna().sum()}")

gender before cleaning: <StringArray>
['U', 'M', 'F', 'X']
Length: 4, dtype: str
Before cleaning - The number of null values in gender: 0


gender after cleaning: <StringArray>
['U', 'M', 'F', 'X']
Length: 4, dtype: str
After cleaning - The number of null values in gender: 0

### 5. *number_of_accounts*

In [50]:
import numpy as np
import pandas as pd

# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in number_of_accounts: {df_vanguard_ab_test['number_of_accounts'].isna().sum()}")

# Number of null values
print(f"sum of null values in number_of_accounts: {df_vanguard_ab_test['number_of_accounts'].isna().sum()}")

# Round down number_of_accounts and convert to pandas nullable integer type 
df_vanguard_ab_test['number_of_accounts'] = np.floor(df_vanguard_ab_test['number_of_accounts']).astype('Int64')

# Confirm
print(df_vanguard_ab_test['number_of_accounts'].dtype)  # should be integer
print(df_vanguard_ab_test['number_of_accounts'].head())

# Number of null values AFTER cleaning
print(f"After cleaning - The number of null values in number_of_accounts: {df_vanguard_ab_test['number_of_accounts'].isna().sum()}")

Before cleaning - The number of null values in number_of_accounts: 0
sum of null values in number_of_accounts: 0
Int64
0    2
1    2
2    2
3    2
4    2
Name: number_of_accounts, dtype: Int64
After cleaning - The number of null values in number_of_accounts: 0

### 6. *account_balance*

In [51]:
# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in account_balance: {df_vanguard_ab_test['account_balance'].isna().sum()}")

# Fill nulls in account_balance with 0.0
df_vanguard_ab_test['account_balance'] = df_vanguard_ab_test['account_balance'].fillna(0.0)
print("Filled null values in account_balance with 0.0")

# Confirm
print(df_vanguard_ab_test['account_balance'].dtype)  # should be float
print(df_vanguard_ab_test['account_balance'].head())

# Number of null values AFTER cleaning
print(f"After cleaning - The number of null values in account_balance: {df_vanguard_ab_test['account_balance'].isna().sum()}")

Before cleaning - The number of null values in account_balance: 0
Filled null values in account_balance with 0.0
float64
0    45105.3
1    45105.3
2    45105.3
3    45105.3
4    45105.3
Name: account_balance, dtype: float64
After cleaning - The number of null values in account_balance: 0

### 7. *calls_last_6_months*

In [52]:
import numpy as np
import pandas as pd

# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in calls_last_6_months: {df_vanguard_ab_test['calls_last_6_months'].isna().sum()}")

# Round down calls_last_6_months and convert to pandas nullable integer type 
df_vanguard_ab_test['calls_last_6_months'] = np.floor(df_vanguard_ab_test['calls_last_6_months']).astype('Int64')

# Fill NaN with 0 because there is no data of calls so we assume it's 0 calls in the last 6 months
df_vanguard_ab_test['calls_last_6_months'] = df_vanguard_ab_test['calls_last_6_months'].fillna(0)

# Confirm
print(df_vanguard_ab_test['calls_last_6_months'].dtype)  # should be integer
print(df_vanguard_ab_test['calls_last_6_months'].head())

# Number of null values AFTER cleaning
print(f"After cleaning - the number of null values in calls_last_6_months: {df_vanguard_ab_test['calls_last_6_months'].isna().sum()}")

Before cleaning - The number of null values in calls_last_6_months: 0
Int64
0    6
1    6
2    6
3    6
4    6
Name: calls_last_6_months, dtype: Int64
After cleaning - the number of null values in calls_last_6_months: 0

### 8. *logins_last_6_months*

In [53]:
import numpy as np
import pandas as pd

# Number of null values BEFORE cleaning
print(f"Before cleaning - The number of null values in logins_last_6_months: {df_vanguard_ab_test['logins_last_6_months'].isna().sum()}")

# Round down logins_last_6_months and convert to pandas nullable integer type 
df_vanguard_ab_test['logins_last_6_months'] = np.floor(df_vanguard_ab_test['logins_last_6_months']).astype('Int64')

# Fill NaN with 0 because there is no data of logins so we assume it's 0 logins in the last 6 months
df_vanguard_ab_test['logins_last_6_months'] = df_vanguard_ab_test['logins_last_6_months'].fillna(0)

# Confirm
print(df_vanguard_ab_test['logins_last_6_months'].dtype)  # should be integer
print(df_vanguard_ab_test['logins_last_6_months'].head())

# Number of null values AFTER cleaning
print(f"After cleaning - the number of null values in logins_last_6_months: {df_vanguard_ab_test['logins_last_6_months'].isna().sum()}")

Before cleaning - The number of null values in logins_last_6_months: 0
Int64
0    9
1    9
2    9
3    9
4    9
Name: logins_last_6_months, dtype: Int64
After cleaning - the number of null values in logins_last_6_months: 0

### 13. *test_group*

In [54]:
# During the experiment period, 
# Some clients were assigned to the A/B test either "Control" or "Test".
# While others were not. We need to decide:
# whether to exclude rows with missing test_group 
# or explicitly label them as "NOT included"


# Number of null values BEFORE cleaning
print(f"Before cleaning - the number of null values in test_group: {df_vanguard_ab_test['test_group'].isna().sum()}")

# create a new category 'NOT included' for missing test_group
df_vanguard_ab_test['test_group'] = df_vanguard_ab_test['test_group'].fillna('NOT included')

# Generate a summary table with start_date, end_date, and count for each group
group_status_period = df_vanguard_ab_test.groupby('test_group')['date_time'].agg(
    start_date='min',
    end_date='max',
    count='count'
).reset_index()

# Optional: format the dates nicely for reporting
group_status_period['start_date'] = group_status_period['start_date'].dt.strftime('%Y-%m-%d %H:%M:%S')
group_status_period['end_date'] = group_status_period['end_date'].dt.strftime('%Y-%m-%d %H:%M:%S')

# Display the table
display(group_status_period)


# Number of null values AFTER cleaning
print(f"After cleaning - the number of null values in test_group: {df_vanguard_ab_test['test_group'].isna().sum()}")

Before cleaning - the number of null values in test_group: 128509

     test_group           start_date             end_date   count
0       Control  2017-03-15 00:19:28  2017-06-20 23:57:06  143408
1  NOT included  2017-03-15 00:03:03  2017-06-20 23:44:20  128509
2          Test  2017-03-15 00:43:23  2017-06-20 23:21:23  177787

After cleaning - the number of null values in test_group: 0

<hr>

## 5Ô∏è‚É£ DUPLICATE VALUES


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [55]:
# not dropping  duplicates to keep all data for analysis 
df_vanguard_ab_test.head()

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,date_time,test_group
0,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

<hr>

## 6Ô∏è‚É£ SAVE CLEAN DataFrame in CSV 


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: darkblue;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [56]:
# Save the cleaned DataFrame to CSV
df_vanguard_ab_test.to_csv('../data/clean/df_vanguard_ab_test_clean.csv', index=False)
print("Saved cleaned Vanguard A/B test dataset to '../data/clean/df_vanguard_ab_test_clean.csv'")

Saved cleaned Vanguard A/B test dataset to '../data/clean/df_vanguard_ab_test_clean.csv'