<hr>

# ðŸ“‰ VANGUARD AB TEST ANALYSIS

<style>
h1 {
    text-align: center;
    color: RED;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<hr>

<hr>

## LOAD CLEAN DATASET


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: red;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [ ]:
import pandas as pd

# Load your cleaned Vanguard A/B test dataset
df_main = pd.read_csv('../data/clean/df_vanguard_ab_test_clean.csv')
display(df_main.head())
# out of curiosity use describe()
print("Descriptive statistics of the cleaned dataset:")
display(df_main.describe().round(2))

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,date_time,test_group
0,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:51:13,Test
1,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:47:50,Test
2,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,2017-04-02 11:46:45,Test
3,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,step_3,2017-04-02 11:23:08,Test
4,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,step_2,2017-04-02 11:22:24,Test

Descriptive statistics of the cleaned dataset:

,client_id,client_tenure_years,client_tenure_months,client_age,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months
count,449704.00,449704.00,449704.00,449704.00,449704.00,449704.00,449704.00,449704.00
mean,5002904.32,12.23,152.81,47.37,2.26,159776.84,3.53,5.71
std,2873056.15,7.01,83.72,15.76,0.54,342073.42,2.24,2.36
min,169.00,2.00,33.00,13.00,1.00,13789.42,0.00,1.00
25%,2515588.00,6.00,82.00,33.00,2.00,38446.10,2.00,4.00
50%,5025355.00,11.00,139.00,49.00,2.00,66775.71,3.00,6.00
75%,7468377.00,16.00,194.00,60.00,2.00,149003.91,6.00,8.00
max,9999839.00,62.00,749.00,96.00,8.00,16320040.15,7.00,9.00

In [ ]:
display(df_main["client_age"].describe().round(2))
# minimum age of clients is 13 years old
# oldest age is 96 years old
# majority of clients are between 13 and 60 years old

count    449704.00
mean         47.37
std          15.76
min          13.00
25%          33.00
50%          49.00
75%          60.00
max          96.00
Name: client_age, dtype: float64

In [ ]:
df_main['client_age'].unique()

array([60, 58, 32, 49, 33, 30, 57, 67, 54, 34, 51, 62, 36, 74, 31, 25, 42,
       55, 38, 68, 52, 63, 48, 66, 65, 46, 23, 26, 56, 76, 27, 39, 40, 43,
       35, 19, 64, 22, 61, 72, 44, 28, 59, 45, 18, 78, 50, 29, 37, 70, 53,
       69, 71, 83, 21, 47, 73, 41, 20, 75, 24, 79, 80, 87, 86, 85, 17, 82,
       77, 88, 96, 81, 84, 94, 89, 92, 91, 95, 90, 93, 15, 16, 14, 13])

In [ ]:
# what's the minimum and maximum age for clients
print("the minimum age for clients:", df_vanguard_ab_test['client_age'].min())
print("the maximum age for clients:", df_vanguard_ab_test['client_age'].max())

the minimum age for clients: 13
the maximum age for clients: 96

In [ ]:
# how many clients are there
print("the number of clients to analyse:", df_vanguard_ab_test['client_id'].count())

the number of clients to analyse: 449704

<hr>

## SPLIT DATE & TIME then Save as CSV file 


<style>
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h2 {
    text-align: left;
    color: purple;
    font-weight: bold;
}
</style>

<style>
h3 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>

<style>
h4 {
    text-align: center;
    color: black;
    font-weight: bold;
}
</style>
<hr>

In [ ]:
import pandas as pd

# Load your cleaned Vanguard A/B test dataset
df_alpha = pd.read_csv('../data/clean/df_vanguard_ab_test_clean.csv')

# split date & time into separate columns
df_alpha['date'] = pd.to_datetime(df_alpha['date_time']).dt.date
df_alpha['time'] = pd.to_datetime(df_alpha['date_time']).dt.time

# drop date_time column
df_alpha = df_alpha.drop(columns=['date_time'])

# Save the updated dataset
df_alpha.to_csv("../data/clean/df_vanguard_ab_test_clean_v2.csv", index=False)

# Display the updated DataFrame
display(df_alpha.head())

,client_id,client_tenure_years,client_tenure_months,client_age,gender,number_of_accounts,account_balance,calls_last_6_months,logins_last_6_months,visitor_id,visit_id,process_step,test_group,date,time
0,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,Test,2017-04-02,11:51:13
1,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,Test,2017-04-02,11:47:50
2,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,confirm,Test,2017-04-02,11:46:45
3,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,step_3,Test,2017-04-02,11:23:08
4,836976,6,73,60,U,2,45105.3,6,9,427070339_1413275162,228976764_46825473280_96584,step_2,Test,2017-04-02,11:22:24