---
### Merging dfs

In [10]:
import pandas as pd

# Load the combined dataset
df = pd.read_csv('../data/df_final_web_data.csv')

# Convert date_time to datetime type
df['date_time'] = pd.to_datetime(df['date_time'])

# Split into two columns
df['date'] = df['date_time'].dt.date
df['time'] = df['date_time'].dt.time

# drop the original date_time column
df = df.drop(columns=['date_time'])

# Save the updated DataFrame
df.to_csv('../data/df_final_web_data.csv', index=False)
print("Date and time columns added and saved in 'df_final_web_data.csv'")

Date and time columns added and saved in 'df_final_web_data.csv'

In [11]:
# load csv to verify
df = pd.read_csv('../data/df_final_web_data.csv')
df.head(20)

,client_id,visitor_id,visit_id,process_step,date,time
0,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17,15:27:07
1,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17,15:26:51
2,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17,15:19:22
3,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17,15:19:13
4,9988021,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17,15:18:04
5,9988021,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17,15:17:15
6,9988021,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17,15:17:01
7,9988021,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17,15:16:22
8,8320017,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05,13:10:05
9,8320017,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05,13:09:43
10,8320017,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05,13:08:40
11,8320017,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05,13:08:24
12,8320017,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05,13:08:06
13,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05,12:29:03
14,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05,12:29:01
15,4033851,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05,12:28:52
16,4033851,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05,12:26:08
17,4033851,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05,12:24:43
18,4033851,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05,12:24:12
19,4033851,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05,12:24:04

In [ ]:
df.info()
# clean data type for categorical / numerical data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755405 entries, 0 to 755404
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     755405 non-null  int64
 1   visitor_id    755405 non-null  object
 2   visit_id      755405 non-null  object
 3   process_step  755405 non-null  object
 4   date          755405 non-null  object
 5   time          755405 non-null  object
dtypes: int64(1), object(5)
memory usage: 34.6+ MB

In [21]:
# change data types accordingly
df['visitor_id'] = df['visitor_id'].astype('float')
df['visit_id'] = df['visit_id'].astype('float')
df['date'] = df['date'].astype('datetime64[ns]')
df['time'] = df['time'].astype('timed64[ns]')
df.info()

TypeError: data type 'timed64[ns]' not understood

In [19]:
df.head()

,client_id,visitor_id,visit_id,process_step,date,time
0,9988021,5.805605e+18,7.812551e+25,step_3,2017-04-17,0 days 15:27:07
1,9988021,5.805605e+18,7.812551e+25,step_2,2017-04-17,0 days 15:26:51
2,9988021,5.805605e+18,7.812551e+25,step_3,2017-04-17,0 days 15:19:22
3,9988021,5.805605e+18,7.812551e+25,step_2,2017-04-17,0 days 15:19:13
4,9988021,5.805605e+18,7.812551e+25,step_3,2017-04-17,0 days 15:18:04